/* ==========================================
	Globals
========================================== */

html{margin:0; padding:0;}

body, html{}

body{
	font-size:18px;
	line-height:1.6;
	color:$black;
	font-family:$osans;
	font-weight: 300;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width:100%;
	background:$white;
	@include defaultTransition;
} 

.container{max-width:1200px;}
.container.centered{max-width:800px; margin:0 auto;}
.container-fluid{padding:0;}
	
	#body{padding:0; margin:0 auto; }
	
.clear{clear:both; float:none;}
	
::selection,
-moz::selection{background:$lt-blue; color:$lvs-blue;}

h1, h2, h3, h4, h5{
	margin:20px 0 30px;}

h1{font-size:250%;}

h2{font-size:120%; line-height:1.8; font-weight:700;}

p{margin-bottom:20px;}

strong{font-weight:700;}

a{
	color:$black;
	@include defaultTransition;
	cursor:pointer;
	
	&:hover, &:focus, &:active{
		text-decoration: none;
		color:$white; outline:none;}
		
	&.button{
		position:relative;
		display:inline-block;
		height:auto;
		color:$white;
		font-size:80%;
		margin:20px 0;
		padding:10px 35px;
		text-decoration: none;
		text-align:center;
		border-radius:30px;
		@include gradient-3(42deg, $pink, $lvs-blue, $lvs-blue);
		background-size:200% 100%;
		background-position:right center;
		@include defaultTransition;
		
		&:hover{
			background-position: left center;
			
			i{
				&.right{padding-left:25px;}
				&.left{padding-right:25px}
			}
		}
		
	}
}
		
hr{
	width:100%; height:0;
	margin:30px auto;
	background:transparent;
	border:none;
	border-bottom:1px solid $grey;
}


i.right{padding-left:15px; @include defaultTransition;}
i.left{padding-right:15px; @include defaultTransition;}


/* =====  Repeated Page Elements  ===== */

blockquote{
	width:80%;
	display:block;
	margin:20px 20px 20px 0;
	border-left:3px solid $lvs-blue;
	font-weight:bold;
	padding:20px 20px 10px;
	
	.caption{font-size:70%; margin:20px 0 20px;}
}

.image-wrapper{
	display:block;
	margin:0 auto; padding:0;
	width:100%; height:100%;
	min-height:100px;
	background-position: top center;
	background-repeat:no-repeat;
	background-size:contain;
	background-color:transparent;}


.progressive-section{
	ul{
		list-style: none;
		margin:0 10px; 
		padding:0;}
}