/* ==========================================
	Header
========================================== */

/* =====  Loading Bar  ===== */
.load-bar{
	content:'';
	position:fixed;
	top:0; left:0;
	width:100%;
	height:3px;
	background:$lvs-blue;
	z-index:99999;
	transform:scaleX(0);
}


/* =====  Header  ===== */

#header{
	position:fixed;
	top:0; left:0;
	width:100%; height:auto;
	z-index:100;
	background:$trans;
	@include opacity(0,0);
	
	
	/* =====  Logo  ===== */
	#site_id{
		margin:0;
		display:block;
		padding:10px 0;

		g#LogicVue path{fill:$black;}
		g#Solutions path{fill:$grey;}
		g#mark .bottom{opacity:0.5;fill:$blue;}
		g#mark .top{fill:$lvs-blue;}
	}
	
	.menu{
	margin:10px 0 0;

		ul{
			list-style:none;
			text-align: right;
			margin-right:30px;

			li{
				display:inline-block;

				a{
					text-transform:uppercase;
					text-decoration:none;
					font-size:80%;
					font-weight:700;
					letter-spacing:2px;
					color:$black;
					text-decoration: none;
					
					&:after{
						content:'';
						display:block;
						position:relative;
						background:transparent;
						width:25px; height:4px;
						border-radius:20px;
						margin:8px auto;
					}
					
					&:hover:after{@include lvs-gradient;}
					
				}
			}
		}
	}
	
	&.open{
		
		#site_id{
			width:90%; 
			
			g#LogicVue path{fill:$white;}
		}
		
		.menu ul li a{color:$white;}
	}

}



/* =====  Menu Toggle  ===== */
#menu-toggle{
	width:30px; height:30px;
	position:absolute;
	right:0; top:15px;
	cursor:pointer;
	
	span{
		position:absolute;
		width:100%;
		height:4px;
		background:$black;
		border-radius:20px;
		margin:4px 0;
		float:right;
		@include defaultTransition;
		
		&:first-of-type{width:100%; top:0; right:0;}
		&:last-of-type{width:65%; top:10px; right:0;}
	}
	
	&:hover{
		> span{@include lvs-gradient;}
	}
	
	&.open{
		> span{@include lvs-gradient; @include defaultTransition;}
		> span:first-of-type{transform:rotate(-45deg); top:9px;}
		> span:last-of-type{width:100%; transform:rotate(45deg);}
	}
}



/* =====  Overlay Menu  ===== */
#bg-menu-cover{
	background:$black; 
	width:3px; height:3px;
	display:block;
	z-index:99;
	position:absolute; 
	top:-5px; right:0;
	transform:translateX(50%);
	@include border-radius(50%);
	@include transition(all, cubic-bezier(.13,.34,.81,.41), .4s);
	
	&.open{
		background:$black;
		transform:scale(2000, 2000);
	}
}

#bg-menu{
	position:fixed;
	top:150px; left:0;
	width:100%; height:100%;
	z-index:100;
	display:none;
	
	&.open{display:block;}
	
	.col{display:none;}
	
	a,p,h1,h2,h3,h4,h5{color:$white;}
	h2{font-size:200%;}
	
	ul{
		margin-top:25px;
		list-style:none;
		
		li{
			a{
				font-size:250%; 
				font-weight:700;
				text-decoration:none;
			}
			
			&:hover > a{color:$white; padding-left:20px;}
			&:hover ~ li:not(:hover) > a{color:rgba(255,255,255,.15);}
		}
	}
}


/* =====  Overlay Menu  ===== */
#solutions-menu{
	background:$black;
	width:100%; height:auto;
	position:fixed; 
	bottom:0; left:0; 
	z-index:10;
	font-size:70%;
	display:none;
	@include opacity(0,0);
}



body.body{ 
	#menu-toggle span{background: $black;}
	#menu-toggle:hover > span{@include lvs-gradient;}
	#solutions-menu{top:90px; left:0; bottom:auto; font-size:90%;}
}
/* ==========================================
	Footer
========================================== */