
/* ==========================================
	Sticky Nav
========================================== */
#menu-toggle{
	position:fixed;
	z-index:30;
	width:35px; height:35px;
	top:35px; right:50px;
	display:none;
	cursor:pointer;

	span{
		position:absolute;
		width:100%;
		height:4px;
		background:$black;
		border-radius:20px;
		margin:4px 0;
		float:right;
		@include defaultTransition;

		&:first-of-type{width:100%; top:0; right:0;}
		&:last-of-type{width:65%; top:10px; right:0;}
	}

	&:hover{
		> span{@include lvs-gradient;}
	}
	
	&.open{

		> span{@include lvs-gradient; @include defaultTransition;}
		> span:first-of-type{transform:rotate(-45deg); top:9px;}
		> span:last-of-type{width:100%; transform:rotate(45deg);}
	}
}

#header{
	position:fixed;
	top:0; left:0;
	width:100%; height:auto;
	min-height:90px;
	z-index:20;
	padding:10px 0 0;
	margin:0 auto;
	display:none;
	
	.container{margin:0; padding:0;}
	
	#site_id{
		margin:0 auto;
		display:block;
	}
	
	.menu{
		margin:20px 0 0;
		padding:10px 0 0;
		background:$white;
		display:none;
		
		ul{
			list-style:none;
			margin:0; padding:0;
			
			li{
				display:block;
				text-align:center;
				
				a{
					padding:5px 0;
					color:$black;
					font-weight:400;
					font-size:85%;
					display:block;
					
					&:after{
						content:'';
						display:block;
						position:relative;
						background:transparent;
						width:25px; height:4px;
						border-radius:20px;
						margin:8px auto;
					}
					
					&:hover:after{@include lvs-gradient;}
				}
				
				&.current-menu-item a:after{@include lvs-gradient;}
			}
		}
		
	}

}

#solutions-menu{
	background:$black;
	width:100%; height:auto;
	position:fixed; 
	bottom:0; left:0; 
	z-index:10;
	display:none;
	
	.menu{
		width:100%; 
		margin:0; padding:0;
		text-align:center;
		
		li{
			display:inline-block;
			
			a{
				display:block;
				padding:5px 20px;
				color:$white;
				
				&:hover{@include lvs-gradient;}
			}
		}
	}
}

#overlay{
	background:#000;
	width:100%; height:100%;
	position:fixed;
	top:0; left:0;
	z-index:0;
	@include opacity(0, 0);
	@include defaultTransition;
	
	&.open{
		@include opacity(90, .9);
		z-index:10;
	}
}

#contact-sidebar{
	display:block;
	position:fixed;
	top:0; right:-100%;
	width:100%;
	max-width:500px;
	height:100%;
	padding:50px;
	background:$white;
	z-index:15;
	@include defaultTransition;
	
	&.open{
		display:block;
		background:$white;
		right:0;
	}
}


body.body{ 
	#header{background: $white; @include defaultShadow; }
	#menu-toggle span{background: $black;}
	#solutions-menu{top:90px; left:0; bottom:auto;}
}