
/* ==========================================
	Sticky Nav
========================================== */
#header{
	position:fixed;
	top:0; left:0;
	width:100%; height:auto;
	min-width:90px;
	z-index:10;
	padding:10px 0 0;
	margin:0 auto;
	@include defaultTransition;
	
	#site_id{
		display:inline-block;
		width:40%; height:auto;
		
		img{width:100%; height:auto;}
	}
	
	.menu{
		margin:15px 0;
		display:none; 
		font-family:$mont;
		text-align:right;
		 
		ul{
			list-style:none;
			margin:0 20px 0;
			padding:0;
			
			li{
				display:inline-block; 
				font-size:80%;
				font-weight:400;
				margin:0 10px;
				text-align:center;
				
				a{
					color:$white;
					
					&:after{
						content:'';
						display:block;
						position:relative;
						background:transparent;
						width:25px; height:4px;
						border-radius:20px;
						margin:8px auto;
					}
					&:hover:after{@include lvs-gradient;}
				}
				
				&.current-menu-item a:after{@include lvs-gradient;}
			}
		}
		
		&.open{
			text-align:center;
			display:block;
			
			ul li {width:100%;}
		}
	}
	
	
	&.stuck{background:rgba(0,0,0,.85);}
	
}

#menu-toggle{
	position:fixed;
	z-index:30;
	width:35px; height:35px;
	top:35px; right:50px;
	display:inline-block;

	span{
		position:absolute;
		width:100%;
		height:4px;
		background:$white;
		border-radius:20px;
		margin:4px 0;
		float:right;
		@include defaultTransition;

		&:first-of-type{width:100%; top:0; right:0;}
		&:last-of-type{width:65%; top:10px; right:0;}
	}

	&:hover{
		> span{@include lvs-gradient;}
	}

	&.open{

		> span{@include lvs-gradient; @include defaultTransition;}

		> span:first-of-type{transform:rotate(-45deg); top:9px;}
		> span:last-of-type{width:100%; transform:rotate(45deg);}
	}
}





#contact-sidebar{
	position:fixed;
	top:0; right:-100%;
	height:100%; width:85%;
	max-width:500px;
	padding:50px 20px 20px;
	z-index:20;
	overflow:scroll;
	background:$white;
	color:$black;
	@include defaultTransition;
	
	&.open{right:0;}
	
}

#overlay{
	width:100%; height:100%;
	top:0; left:0;
	position:fixed;
	display:block;
	z-index:-10;
	background:rgba(0,0,0,0);
	@include defaultTransition;
	
	&.open{
		z-index:19;
		background:rgba(0,0,0,.9);
	}
}





#solutions-menu{ 
	position:relative;
    display: block;
    width: 100%;
	text-align:center;
	font-family:$mont;
	@include lvs-gradient;
		 
	ul{
		display:block;
		list-style:none;
		margin:0; padding:0;
		border-bottom-color:$trans;

		li{
			display:inline-block; 
			font-size:80%;
			font-weight:400;
			@include defaultTransition;

			a{
				display:block;
				padding:20px 30px;
				color:$white;
				@include defaultTransition;
				&.active{color:$black; font-weight:bold;}
			}
			
			&:hover{background:$white;}
			&:hover > a{color:$black;}
			
			&.current-menu-item {background:$white; a{color:$black;} }
		}
		
		&.nav-tabs a.nav-link{border-radius:0;}
	}
	
	&.stuck{
		position:fixed; 
		top:90px; 
		bottom:auto;
		z-index:2;
		
		ul li a{padding:5px 30px;}
	}
	
	&.sticky{
		position:relative;
		bottom:auto;
		z-index:2;
	}
}

.home #solutions-menu{
	position:fixed;
	bottom:0;
	
	&.stuck{
		position:fixed; 
		top:90px; 
		bottom:auto;
		z-index:2;
		
		ul li a{padding:0 30px;}
	}
	
	&.sticky{
		position:relative;
		bottom:auto;
		z-index:2;
	}
}