/* ==========================================
	Individual Page Elements
========================================== */

/* Homepage */

body.home{
	background-image:url("../images/lvs_blue_wave.png");
	background-position:right top;
	background-size:55%;
	background-repeat:no-repeat;
	
	h1{font-size:350%;}
	
}

/* Solutions */
#solutions-intro .intro-image{z-index:0; margin-top:-150px; min-height:500px;}

#solutions-content .image-wrapper{min-height:50px; }

/* About us */

#about-content .repeater-row{margin-bottom:50px;}