/* ==========================================
	Responsive Styles
========================================== */

// Mobile - Smallest screens 
@media all and (max-width:580px){
}

// Mobile - Default 
@media all and (max-width:768px) {}

// Mobile - Tablets
@media all and (min-width:768px) {
	
	#header{
		#site_id{width:80%;}
		.menu{display:block; margin-right:0;}
	}
	
	#contact-sidebar{padding:50px 100px 50px 50px;}	
	
}


// Mobile - Desktop
@media all and (min-width:992px) {
	body.body{
		.intro{background-position:bottom right;}
		.content{margin-top:-100px;}
	}
}

// Mobile - Large Screens
@media all and (min-width:1200px) {
	body{
		font-size:20px;
		line-height:1.8;
		
		&.home{background-size:55%;}
		
		&.body{
			.intro{min-height:600px;}
			.content{margin-top:-200px;}
		}
	}
	
	#header{
		#site_id{width:75%;}
	}
}

// Mobile - Stupdi Large Screens 
@media all and (min-width:1500px){
	body{
		font-size:22px;
		line-height:2;
		
		&.body .intro{min-height:800px;}
		&.body .content{margin-top:-300px;}
	}
	.container{
		max-width:1400px;
		
		&.centered{max-width:1000px;}
	}
}

