/* ==========================================
	Responsive Styles
========================================== */

// Mobile - Smallest screens 
@media all and (max-width:580px){
	#header #site_id{width:75%; margin:0 auto;}
}

// Mobile - Default 
@media all and (max-width:768px) {}

// Mobile - Tablets
@media all and (min-width:768px) {}


// Mobile - Desktop
@media all and (min-width:992px) {
	#header #site_id{width:200px;}
	#header .menu{display:inline-block;}
	
}

// Mobile - Large Screens
@media all and (min-width:1200px) {
}

