/* ==========================================
	Responsive Styles
========================================== */

// Mobile - Smallest screens 
@media all and (max-width:580px){
}

// Mobile - Default 
@media all and (max-width:768px) {
	#site_id{width:30%;}
	body.home{background-position:right 100px;}
}

// Mobile - Tablets
@media all and (min-width:768px) {
	#site_id{width:70%;}
	#header .menu{
		background:$trans;
		display:block;
		padding:0;
		
		ul{
			margin-right:100px;
			text-align:right;
			
			li{
				width:auto; 
				display:inline-block; 
				margin:0 10px;
				
				a{font-size:100%; 
					color:$white;}
				
			}
		}
	}
	
	#solutions-menu{display:none;}
	
	body.body #menu-toggle span{background:$black;}
	body.body #header .menu ul li a{color:$black;}
	
}


// Mobile - Desktop
@media all and (min-width:992px) {
	#header .menu ul{margin-right:100px;}
	body.body{
		.intro{background-position:bottom right;}
		.content{margin-top:-100px;}
	}
}
// Mobile - Large Screens
@media all and (min-width:1200px) {
	body{
		font-size:20px;
		line-height:1.8;
		
		&.home{background-size:55%;}
		
		&.body{
			.intro{min-height:600px;}
			.content{margin-top:-200px;}
		}
	}
	
}

// Mobile - Stupid Large Screens 
@media all and (min-width:1500px){
	#site_id{width:100%;}
	body{
		font-size:22px;
		line-height:2;
		
		&.body .intro{min-height:800px;}
		&.body .content{margin-top:-300px;}
	}
	.container{
		max-width:1400px;
		
		&.centered{max-width:1000px;}
	}
}

