/* ==========================================
	Variables
========================================== */

// fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Open+Sans:300,400,700,800&display=swap');

$mont: 'Montserrat', Arial, Sans-Serif;
$osans: 'Open Sans', Arial, Sans-Serif;

// colors 
$white : #fff;
$lt-grey : #f5f5f5;
$grey : #d9d9dd;
$black : #0a0216;

$lowTrans : rgba(255,255,255,.2);
$trans : transparent;


$blue :   #3232ff;
$purple : #a20045;
$pink :   #ff6d62;
$teal :   #006c6e;
$yellow : #ccba0d ;

