/* ==========================================
	Variables
========================================== */

// fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

$osans: 'Open Sans', Arial, Sans-Serif;

// colors 
$white : #fff;
$lt-grey : #f5f5f5;
$grey : #d9d9dd;
$black : #0d1321;

$trans : transparent;


$lvs-blue :   #0c41b2;
$blue : #46ade2;
$lt-blue : #d3f3ee;
$pink : #bc2874;
$purple : #741865;
