/* ==========================================
	Variables
========================================== */

// fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900|Neuton:400,800&display=swap');

$neuton: 'Neuton', Arial, Sans-Serif;
$mont: 'Montserrat', Times New Roman, Serif;

// colors 
$white : #fff;
$lt-grey : #f5f5f5;
$grey : #d9d9dd;
$black : #0a0216;

$lowTrans : rgba(255,255,255,.2);
$trans : transparent;


$blue : #3232ff;
$pink : #a20045;

