/* ==========================================
	Variables
========================================== */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900|Neuton:400,800&display=swap");
/* ==========================================
	Mixins
========================================== */
/* ==========================================
	Animations
========================================== */
@keyframes bounce-down {
  0% {
    color: #fff;
    margin-top: -10px; }
  100% {
    color: #3232ff;
    margin-top: 20px; } }
/* ==========================================
	Globals
========================================== */
html {
  margin: 0;
  padding: 0; }

body, html {
  height: 100%;
  min-height: 100%; }

body {
  font-size: 20px;
  line-height: 1.6;
  color: #0a0216;
  font-family: "Neuton", Arial, Sans-Serif;
  width: 100%;
  background: #fff;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s; }

.container {
  max-width: 1000px; }

#body {
  padding: 0;
  margin: 0 auto; }

.clear {
  clear: both;
  float: none; }

::selection,
-moz::selection {
  background: rgba(255, 255, 255, 0.2); }

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", Times New Roman, Serif;
  margin: 20px 0 30px; }

h1 {
  font-size: 200%;
  font-weight: 800;
  letter-spacing: 1px; }
  h1 span.light {
    font-weight: 400; }

h2 {
  font-size: 150%; }

p {
  margin-bottom: 20px; }

a {
  color: #0a0216;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
  cursor: pointer; }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: #fff;
    outline: none; }
  a.button {
    position: relative;
    display: inline-block;
    height: auto;
    color: #fff;
    font-size: 80%;
    margin: 20px 0;
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
    border-radius: 30px;
    background: #3232ff;
    background: -webkit-linear-gradient(42deg, #3232ff, #3232ff);
    background: -o-linear-gradient(42deg, #3232ff, #3232ff);
    background: -moz-linear-gradient(42deg, #3232ff, #3232ff);
    background: linear-gradient(42deg, #3232ff, #3232ff);
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s; }
    a.button:hover {
      background: #3232ff;
      background: -webkit-linear-gradient(42deg, #3232ff, #a20045);
      background: -o-linear-gradient(42deg, #3232ff, #a20045);
      background: -moz-linear-gradient(42deg, #3232ff, #a20045);
      background: linear-gradient(42deg, #3232ff, #a20045);
      -webkit-transition: all ease-in-out .2s;
      -moz-transition: all ease-in-out .2s;
      transition: all ease-in-out .2s; }

hr {
  width: 100%;
  height: 0;
  margin: 30px auto;
  background: transparent;
  border: none;
  border-bottom: 1px solid #d9d9dd; }

i.right {
  padding-left: 15px;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s; }

i.left {
  padding-right: 15px;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s; }

/* ==========================================
	Sticky Nav
========================================== */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 10;
  padding: 10px 0 0;
  margin: 0 auto;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s; }
  #header #site_id {
    display: inline-block;
    width: 40%;
    height: auto; }
    #header #site_id img {
      width: 100%;
      height: auto; }
  #header .menu {
    margin: 15px 0;
    display: none;
    font-family: "Montserrat", Times New Roman, Serif;
    text-align: right; }
    #header .menu ul {
      list-style: none;
      margin: 0 20px 0;
      padding: 0; }
      #header .menu ul li {
        display: inline-block;
        font-size: 80%;
        font-weight: 400;
        margin: 0 10px;
        text-align: center; }
        #header .menu ul li a {
          color: #fff; }
          #header .menu ul li a:after {
            content: '';
            display: block;
            position: relative;
            background: transparent;
            width: 25px;
            height: 4px;
            border-radius: 20px;
            margin: 8px auto; }
          #header .menu ul li a:hover:after {
            background: #3232ff;
            background: -webkit-linear-gradient(42deg, #3232ff, #a20045);
            background: -o-linear-gradient(42deg, #3232ff, #a20045);
            background: -moz-linear-gradient(42deg, #3232ff, #a20045);
            background: linear-gradient(42deg, #3232ff, #a20045); }
        #header .menu ul li.current-menu-item a:after {
          background: #3232ff;
          background: -webkit-linear-gradient(42deg, #3232ff, #a20045);
          background: -o-linear-gradient(42deg, #3232ff, #a20045);
          background: -moz-linear-gradient(42deg, #3232ff, #a20045);
          background: linear-gradient(42deg, #3232ff, #a20045); }
    #header .menu.open {
      text-align: center;
      display: block; }
      #header .menu.open ul li {
        width: 100%; }
  #header.stuck {
    background: rgba(0, 0, 0, 0.85); }

#menu-toggle {
  position: fixed;
  z-index: 30;
  width: 35px;
  height: 35px;
  top: 35px;
  right: 50px;
  display: inline-block; }
  #menu-toggle span {
    position: absolute;
    width: 100%;
    height: 4px;
    background: #fff;
    border-radius: 20px;
    margin: 4px 0;
    float: right;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s; }
    #menu-toggle span:first-of-type {
      width: 100%;
      top: 0;
      right: 0; }
    #menu-toggle span:last-of-type {
      width: 65%;
      top: 10px;
      right: 0; }
  #menu-toggle:hover > span {
    background: #3232ff;
    background: -webkit-linear-gradient(42deg, #3232ff, #a20045);
    background: -o-linear-gradient(42deg, #3232ff, #a20045);
    background: -moz-linear-gradient(42deg, #3232ff, #a20045);
    background: linear-gradient(42deg, #3232ff, #a20045); }
  #menu-toggle.open > span {
    background: #3232ff;
    background: -webkit-linear-gradient(42deg, #3232ff, #a20045);
    background: -o-linear-gradient(42deg, #3232ff, #a20045);
    background: -moz-linear-gradient(42deg, #3232ff, #a20045);
    background: linear-gradient(42deg, #3232ff, #a20045);
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s; }
  #menu-toggle.open > span:first-of-type {
    transform: rotate(-45deg);
    top: 9px; }
  #menu-toggle.open > span:last-of-type {
    width: 100%;
    transform: rotate(45deg); }

#contact-sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 85%;
  max-width: 500px;
  padding: 50px 20px 20px;
  z-index: 20;
  overflow: scroll;
  background: #fff;
  color: #0a0216;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s; }
  #contact-sidebar.open {
    right: 0; }

#overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  z-index: -10;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s; }
  #overlay.open {
    z-index: 19;
    background: rgba(0, 0, 0, 0.9); }

#solutions-menu {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Montserrat", Times New Roman, Serif;
  background: #3232ff;
  background: -webkit-linear-gradient(42deg, #3232ff, #a20045);
  background: -o-linear-gradient(42deg, #3232ff, #a20045);
  background: -moz-linear-gradient(42deg, #3232ff, #a20045);
  background: linear-gradient(42deg, #3232ff, #a20045); }
  #solutions-menu ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom-color: transparent; }
    #solutions-menu ul li {
      display: inline-block;
      font-size: 80%;
      font-weight: 400;
      -webkit-transition: all ease-in-out .2s;
      -moz-transition: all ease-in-out .2s;
      transition: all ease-in-out .2s; }
      #solutions-menu ul li a {
        display: block;
        padding: 20px 30px;
        color: #fff;
        -webkit-transition: all ease-in-out .2s;
        -moz-transition: all ease-in-out .2s;
        transition: all ease-in-out .2s; }
        #solutions-menu ul li a.active {
          color: #0a0216;
          font-weight: bold; }
      #solutions-menu ul li:hover {
        background: #fff; }
      #solutions-menu ul li:hover > a {
        color: #0a0216; }
      #solutions-menu ul li.current-menu-item {
        background: #fff; }
        #solutions-menu ul li.current-menu-item a {
          color: #0a0216; }
    #solutions-menu ul.nav-tabs a.nav-link {
      border-radius: 0; }
  #solutions-menu.stuck {
    position: fixed;
    top: 90px;
    bottom: auto;
    z-index: 2; }
    #solutions-menu.stuck ul li a {
      padding: 5px 30px; }
  #solutions-menu.sticky {
    position: relative;
    bottom: auto;
    z-index: 2; }

.home #solutions-menu {
  position: fixed;
  bottom: 0; }
  .home #solutions-menu.stuck {
    position: fixed;
    top: 90px;
    bottom: auto;
    z-index: 2; }
    .home #solutions-menu.stuck ul li a {
      padding: 0 30px; }
  .home #solutions-menu.sticky {
    position: relative;
    bottom: auto;
    z-index: 2; }

/* ==========================================
	Individual Page Elements
========================================== */
/* ===== Repeated Page Elements ===== */
.content {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 150px; }

blockquote {
  width: 80%;
  display: block;
  margin: 20px 20px 20px 0;
  border-left: 3px solid #ccba0d;
  font-weight: bold;
  padding: 20px 20px 10px; }
  blockquote .caption {
    font-size: 70%;
    margin: 20px 0 20px; }

.image-wrapper {
  display: block;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background: transparent; }

#indicate-more {
  text-align: center;
  color: #3232ff;
  font-size: 300%;
  margin: 20px auto; }

.progressive-section ul {
  list-style: none;
  margin: 0 10px;
  padding: 0; }

#indicate-more {
  position: relative;
  padding: 50px 0;
  text-align: center; }
  #indicate-more i {
    position: absolute;
    top: 0;
    animation-name: bounce-down;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

#solutions-content {
  background: #fff;
  color: #0a0216; }
  #solutions-content .tab-pane {
    padding: 50px 0; }

/* Homepage */
body.home {
  color: #fff; }
  body.home h1 {
    font-size: 250%; }
  body.home .bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1; }
    body.home .bg .bg-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: rgba(0, 0, 0, 0.75); }
    body.home .bg .bg-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background-position: center center;
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../images/background_placeholder.png"); }

/* ==========================================
	Responsive Styles
========================================== */
@media all and (min-width: 768px) {
  #header #site_id {
    width: 100%; }
  #header .menu {
    display: block;
    margin-right: 75px; }

  body.home h1 {
    font-size: 450%; }

  #contact-sidebar {
    padding: 50px 100px 50px 50px; } }
@media all and (min-width: 1200px) {
  #header .menu {
    display: block;
    margin-right: -50px; } }
