/* ==========================================
	Variables
========================================== */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
/* ==========================================
	Mixins
========================================== */
/* ==========================================
	Globals
========================================== */
html {
  margin: 0;
  padding: 0; }

body {
  font-size: 18px;
  line-height: 1.6;
  color: #0d1321;
  font-family: "Open Sans", Arial, Sans-Serif;
  font-weight: 300;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background: #fff;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s; }

.container {
  max-width: 1200px; }

.container.centered {
  max-width: 800px;
  margin: 0 auto; }

.container-fluid {
  padding: 0; }

#body {
  padding: 0;
  margin: 0 auto; }

.clear {
  clear: both;
  float: none; }

::selection,
-moz::selection {
  background: #d3f3ee;
  color: #0c41b2; }

h1, h2, h3, h4, h5 {
  margin: 20px 0 30px; }

h1 {
  font-size: 250%; }

h2 {
  font-size: 120%;
  line-height: 1.8;
  font-weight: 700; }

p {
  margin-bottom: 20px; }

strong {
  font-weight: 700; }

a {
  color: #0d1321;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
  cursor: pointer; }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: #fff;
    outline: none; }
  a.button {
    position: relative;
    display: inline-block;
    height: auto;
    color: #fff;
    font-size: 80%;
    margin: 20px 0;
    padding: 10px 35px;
    text-decoration: none;
    text-align: center;
    border-radius: 30px;
    background: #bc2874;
    background: -webkit-linear-gradient(42deg, #bc2874, #0c41b2, #0c41b2);
    background: -o-linear-gradient(42deg, #bc2874, #0c41b2, #0c41b2);
    background: -moz-linear-gradient(42deg, #bc2874, #0c41b2, #0c41b2);
    background: linear-gradient(42deg, #bc2874, #0c41b2, #0c41b2);
    background-size: 200% 100%;
    background-position: right center;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s; }
    a.button:hover {
      background-position: left center; }
      a.button:hover i.right {
        padding-left: 25px; }
      a.button:hover i.left {
        padding-right: 25px; }

hr {
  width: 100%;
  height: 0;
  margin: 30px auto;
  background: transparent;
  border: none;
  border-bottom: 1px solid #d9d9dd; }

i.right {
  padding-left: 15px;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s; }

i.left {
  padding-right: 15px;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s; }

/* =====  Repeated Page Elements  ===== */
blockquote {
  width: 80%;
  display: block;
  margin: 20px 20px 20px 0;
  border-left: 3px solid #0c41b2;
  font-weight: bold;
  padding: 20px 20px 10px; }
  blockquote .caption {
    font-size: 70%;
    margin: 20px 0 20px; }

.image-wrapper {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent; }

.progressive-section ul {
  list-style: none;
  margin: 0 10px;
  padding: 0; }

/* ==========================================
	Sticky Nav
========================================== */
#menu-toggle {
  position: fixed;
  z-index: 30;
  width: 35px;
  height: 35px;
  top: 35px;
  right: 50px;
  display: inline-block;
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
  filter: alpha(opacity=0);
  opacity: 0; }
  #menu-toggle span {
    position: absolute;
    width: 100%;
    height: 4px;
    background: #0d1321;
    border-radius: 20px;
    margin: 4px 0;
    float: right;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s; }
    #menu-toggle span:first-of-type {
      width: 100%;
      top: 0;
      right: 0; }
    #menu-toggle span:last-of-type {
      width: 65%;
      top: 10px;
      right: 0; }
  #menu-toggle:hover > span {
    background: #0c41b2;
    background: -webkit-linear-gradient(42deg, #bc2874, #0c41b2);
    background: -o-linear-gradient(42deg, #bc2874, #0c41b2);
    background: -moz-linear-gradient(42deg, #bc2874, #0c41b2);
    background: linear-gradient(42deg, #bc2874, #0c41b2); }
  #menu-toggle.open > span {
    background: #0c41b2;
    background: -webkit-linear-gradient(42deg, #bc2874, #0c41b2);
    background: -o-linear-gradient(42deg, #bc2874, #0c41b2);
    background: -moz-linear-gradient(42deg, #bc2874, #0c41b2);
    background: linear-gradient(42deg, #bc2874, #0c41b2);
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s; }
  #menu-toggle.open > span:first-of-type {
    transform: rotate(-45deg);
    top: 9px; }
  #menu-toggle.open > span:last-of-type {
    width: 100%;
    transform: rotate(45deg); }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 90px;
  z-index: 20;
  padding: 10px 0 0;
  margin: 0 auto;
  display: block;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
  filter: alpha(opacity=0);
  opacity: 0; }
  #header .container {
    margin: 0 auto;
    padding: 0; }
  #header #site_id {
    margin: 0;
    display: block; }
  #header .menu {
    margin: 20px 0 0;
    padding: 10px 0 0;
    background: #fff;
    display: none; }
    #header .menu ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      #header .menu ul li {
        display: block;
        text-align: center; }
        #header .menu ul li a {
          padding: 5px 0;
          color: #0d1321;
          font-weight: 400;
          font-size: 85%;
          display: block; }
          #header .menu ul li a:after {
            content: '';
            display: block;
            position: relative;
            background: transparent;
            width: 25px;
            height: 4px;
            border-radius: 20px;
            margin: 8px auto; }
          #header .menu ul li a:hover:after {
            background: #0c41b2;
            background: -webkit-linear-gradient(42deg, #bc2874, #0c41b2);
            background: -o-linear-gradient(42deg, #bc2874, #0c41b2);
            background: -moz-linear-gradient(42deg, #bc2874, #0c41b2);
            background: linear-gradient(42deg, #bc2874, #0c41b2); }
        #header .menu ul li.current-menu-item a:after {
          background: #0c41b2;
          background: -webkit-linear-gradient(42deg, #bc2874, #0c41b2);
          background: -o-linear-gradient(42deg, #bc2874, #0c41b2);
          background: -moz-linear-gradient(42deg, #bc2874, #0c41b2);
          background: linear-gradient(42deg, #bc2874, #0c41b2); }

#solutions-menu {
  background: #0d1321;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  font-size: 70%;
  display: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
  filter: alpha(opacity=0);
  opacity: 0; }
  #solutions-menu .menu {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center; }
    #solutions-menu .menu li {
      display: inline-block; }
      #solutions-menu .menu li a {
        display: block;
        padding: 5px 20px;
        color: #fff; }
        #solutions-menu .menu li a:hover {
          background: #0c41b2;
          background: -webkit-linear-gradient(42deg, #bc2874, #0c41b2);
          background: -o-linear-gradient(42deg, #bc2874, #0c41b2);
          background: -moz-linear-gradient(42deg, #bc2874, #0c41b2);
          background: linear-gradient(42deg, #bc2874, #0c41b2); }

#overlay {
  background: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s; }
  #overlay.open {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
    filter: alpha(opacity=90);
    opacity: 0.9;
    z-index: 10; }

#contact-sidebar {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  max-width: 500px;
  height: 100%;
  padding: 150px 50px 50px;
  background: #fff;
  z-index: 15;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s; }
  #contact-sidebar.open {
    display: block;
    background: #fff;
    right: 0; }

/* ===== Loading Bar ===== */
.load-bar {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #0c41b2;
  z-index: 99999;
  transform: scaleX(0); }

/* =====  Page Specific Header + Footer Styles  ===== */
body.home #contact-sidebar {
  padding: 50px; }

body.body #header {
  background: #fff;
  -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2); }
body.body #menu-toggle span {
  background: #0d1321; }
body.body #solutions-menu {
  top: 90px;
  left: 0;
  bottom: auto;
  font-size: 90%; }

/* ==========================================
	Individual Page Elements
========================================== */
/* =====  Homepage  ===== */
body.home {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 150px;
  background-attachment: fixed;
  background-image: url("../images/lvs_blue_wave_02.png");
  background-position: right top;
  background-size: 55%;
  background-repeat: no-repeat; }
  body.home:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-size: 25%;
    background-repeat: no-repeat; }
  body.home h1 {
    font-size: 350%; }
  body.home .content h1, body.home .content p, body.home .content a {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
    filter: alpha(opacity=0);
    opacity: 0;
    transform: translateY(10%); }

/* =====  Other Page  ===== */
body.body .intro {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 500px;
  margin-top: 100px;
  padding-top: 50px;
  position: relative;
  background-size: 100%;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-image: url("../images/lvs_wave_02.png"); }
  body.body .intro .intro-text {
    z-index: 1; }
  body.body .intro .image-wrapper {
    z-index: -1;
    min-height: 300px; }
  body.body .intro .container {
    transform: translateY(10%);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
    filter: alpha(opacity=0);
    opacity: 0; }
body.body .content {
  position: relative;
  top: 0;
  left: 0;
  background: #f5f5f5;
  padding-bottom: 100px;
  transform: translateY(10%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
  filter: alpha(opacity=0);
  opacity: 0; }
body.body .repeater-row {
  margin-bottom: 20px; }
  body.body .repeater-row .image-wrapper {
    min-height: 300px; }

/* Solutions */
.solutions.intro {
  background-image: url("../images/lvs_wave_03.png"); }
  .solutions.intro .intro-image {
    z-index: 0;
    margin-top: -150px;
    min-height: 500px; }

.solutions.content .repeater-row .image-wrapper {
  min-height: 50px; }

/* About us */
.about.content .repeater-row {
  margin-bottom: 50px; }

/* ==========================================
	Animations
========================================== */
.fadeIn {
  animation: fadeIn .8s ease-in .3s forwards; }

.slideIn {
  animation: fadeIn .15s ease-in .6s forwards, slideIn .3s ease-in .6s forwards; }

.scaleInOut {
  animation: scaleInOut .5s ease-in .5s forwards; }

/* ===== Keyframes ===== */
@keyframes fadeIn {
  60% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
    filter: alpha(opacity=0);
    opacity: 0; }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
    filter: alpha(opacity=1);
    opacity: 1; } }
@keyframes slideIn {
  100% {
    transform: translateY(0); } }
@keyframes scaleInOut {
  98% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
    filter: alpha(opacity=1);
    opacity: 1; }
  100% {
    transform: scaleX(1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
    filter: alpha(opacity=0);
    opacity: 0; } }
/* ==========================================
	Responsive Styles
========================================== */
@media all and (max-width: 768px) {
  #site_id {
    width: 30%; }

  body.home {
    background-position: right 100px; } }
@media all and (min-width: 768px) {
  #site_id {
    width: 80%; }

  #menu-toggle span {
    background: #fff; }

  #header .menu {
    background: transparent;
    display: block;
    padding: 0; }
    #header .menu ul {
      margin-right: 100px;
      text-align: right; }
      #header .menu ul li {
        width: auto;
        display: inline-block;
        margin: 0 10px; }
        #header .menu ul li a {
          font-size: 100%;
          color: #fff; }

  #solutions-menu {
    display: block; }

  body.body #menu-toggle span {
    background: #0d1321; }

  body.body #header .menu ul li a {
    color: #0d1321; } }
@media all and (min-width: 992px) {
  #header .menu ul {
    margin-right: 100px; }

  body.body .intro {
    background-position: bottom right; }
  body.body .content {
    margin-top: -100px; } }
@media all and (min-width: 1200px) {
  body {
    font-size: 20px;
    line-height: 1.8; }
    body.home {
      background-size: 55%; }
    body.body .intro {
      min-height: 600px; }
    body.body .content {
      margin-top: -200px; } }
@media all and (min-width: 1500px) {
  #site_id {
    width: 60%; }

  body {
    font-size: 24px;
    line-height: 2.2; }
    body.body .intro {
      min-height: 800px;
      margin-top: 150px; }
    body.body .content {
      margin-top: -300px; }

  .container {
    max-width: 1400px; }
    .container.centered {
      max-width: 1000px; }

  #header .menu {
    margin-top: 10px; }

  #header .menu ul li a,
  #solutions-menu .menu li a {
    font-weight: 600;
    font-size: 70%; } }
